{% extends "base.html" %}
{% block content %}

<h1>Bug Details</h1>

<div class="row">
 <div class="col s6">
  <div class="card">
    <div class="card-content">
        <span class="card-title">{{ bug.name }}</span>
        <p>Type: {{ bug.type_bug }}</p>
        <p> Description: {{ bug.description }}</p>
        {% if bug.age > 0 %}
            <p>Age: {{ bug.age }}</p>
        {% else %}
            <p>Age: Larva</p>
        {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'bugs_update' bug.id %}">Edit</a>
        <a href="{% url 'bugs_delete' bug.id %}">Delete</a>
      </div>
  </div>
  {% for photo in bug.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
  {% empty %}
    <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
    <form action="{% url 'add-photo' bug.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn" value="Upload Photo">
    </form>

</div>
<div class="col s6">
    <form action="{% url 'add_feeding' bug.id %}" method="post">
        {% csrf_token %}
        {{ feeding_form.as_p }}
        <input type="submit" class="btn green" value="Add Feeding">
    </form>
    <table class="striped">
        <thead>
            <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
            {% for feeding in bug.feeding_set.all %}
             <tr>
                 <td>{{feeding.date}}</td>
                 <td>{{feeding.get_meal_display}}</td>
             </tr>
             {% endfor %}
        </tbody>
    </table>
 </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ bug.name }}'s Toys</h3>
    {% if bug.toys.count %}
      {% for toy in bug.toys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color:{{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Toys :(</h5>
    {% endif %}
  </div>

<!-- Available toys will come after this line -->
<div class="col s6">
  <h3>Available Toys</h3>
  {% if toys.count %}
    {% for toy in toys.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_toy' bug.id toy.id%}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>{{bug.name}} Already Has All Toys Available</h5>
  {% endif %}
</div>
</div>
<script>
      var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_meal');
  M.FormSelect.init(selectEl);

</script>

{% endblock %}